body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.container{
  display: flex;
  align-items: center;
  margin: 1em 0;
  padding: 1em;
  width: 90%;
  overflow: hidden;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.completed {
    text-decoration: line-through;
}
.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

